.block-group-links {
  margin-bottom: 130px;
}

.links-group-item {
  &__heading {
    margin-bottom: 40px;
  }
  &__subheading {
    display: none;
  }

  &__preload {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 60%;
    opacity: 0;
    transition: 0.5s;

    p {
      color: $text-color;
      font-size: 30px;
      font-weight: 500;
      line-height: 38px;
    }
  }

  &__link {
    height: 100%;
    width: 100%;
    position: relative;

    &:hover .links-group-item__preload {
      opacity: 1;
    }

  }

  &--sm {
    .links-group-item {
      &__heading {
        margin: 0 auto 36px;
      }

      &__preload {
        padding-top: 10%;
      }

    }

    &:first-of-type {
      padding-bottom: 80px;
      position: relative;
      margin-bottom: 70px;

      &:before {
        content: '';
        background: url("../image/icon/Фигура 8.png") no-repeat;
        background-size: 50%;
        position: absolute;
        width: 100%;
        height: 7px;
        bottom: 0;
        background-position-x: center;
      }
    }
  }
}

@media (max-width: 1200px) {
  .block-group-links {
    margin-bottom: 110px;
  }
  .links-group-item--sm {
    .links-group-item {
      &__preload {
        padding-top: 6%;
      }
    }

    &:first-of-type {
      padding-bottom: 74px;
      position: relative;
      margin-bottom: 60px;

    }
  }
}

@media (max-width: 992px) {
  .block-group-links {
    margin-bottom: 90px;
  }
  .links-group-item {
    &__preload {
      p {
        color: #353535;
        font-size: 25px;
        font-weight: 500;
        line-height: 29px;
      }
    }

    &--sm {
      &:first-of-type {
        padding-bottom: 50px;
        position: relative;
        margin-bottom: 20px;
      }

      .links-group-item {
        &__heading {
          margin: 0 auto 40px;
        }

        &__preload {
          padding-top: 4%;
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .header-menu-block {
    display: none;
  }
  .block-group-links {
    margin-bottom: 40px;

    .container {
      padding: 0;
    }
  }
  .links-group-item {
    margin-bottom: 35px;

    &:before {
      display: none;
    }

    &__subheading {
      display: block;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: $text-color;
      width: 60%;
      text-align: center;
      margin: 0 auto 25px;
    }

    &__preload {
      display: none;
    }

    &__heading {
      margin: 0 auto 15px;
    }

    &--sm {
      &:first-of-type {
        padding-bottom: 0;
        margin-bottom: 35px;
      }

      .links-group-item {
        margin-bottom: 30px;

        &__heading {
          margin: 0 auto 20px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
   .row {
     margin: 0;
     .col-12 {
       padding: 0;
     }
   }
  }
  .links-group-item {
    &__heading {
      margin: 0 auto 10px;
    }

    &__subheading {
      margin: 0 auto 20px;
    }
  }

}