.block-blog-list {
  &__heading {
    margin-bottom: 50px;
  }
}

.blog-item {
  position: relative;
  margin-bottom: 120px;

  &:before {
    content: '';
    background: url("../image/icon/Фигура 6 копия 2.png") no-repeat;
    position: absolute;
    background-size: 100%;
    background-position-x: right;
    max-width: 277px;
    max-height: 287px;
    width: 100%;
    height: 100%;
    right: 0;
    top: 45px;
  }

  &__heading {
    text-align: left;
    width: 41%;
    margin: 0;
  }

  &__preload {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 19%;
    opacity: 0;
    transition: 0.5s;
  }

  &__link {
    width: 90%;
    margin-top: 35px;
    height: 100%;
    position: relative;

    &:hover .blog-item__preload {
      opacity: 1;
    }
  }

  &--around {
    &:before {
      content: '';
      background: url("../image/icon/Фигура 6 копия 3.png") no-repeat;
      position: absolute;
      background-size: 100%;
      background-position-x: left;
      left: 0;
    }

    .blog-item {
      &__heading {
        text-align: right;
        margin-left: auto;
      }

      &__link {
        margin-left: auto;
      }
    }
  }

  &--big {
    &:before {
      content: '';
      background: url("../image/icon/Фигура 5 копия 2.png") no-repeat;
      position: absolute;
      background-size: 100%;
      background-position-x: right;
      max-width: 113px;
      max-height: 859px;

    }
    .blog-item {
      &__heading {
        width: 77%;
        margin-bottom: 30px;
      }
      &__preload {
        padding-top: 69%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .blog-item {
    &:before {
      content: '';
      background-size: 80%;
    }
    &--around {
      &:before {
        content: '';
        background-size: 80%;
      }
    }
    &--big {
      &:before {
        content: '';
        background-size: 80%;
      }
    }
    &__heading {
      width: 48%;
    }
    &__preload {
      padding-top: 17%;
      p {
        font-size: 27px;
      }
    }
  }
}
@media (max-width: 992px) {
  .blog-item {
    &:before {
      content: '';
      background-size: 65%;
    }
    &--around {
      &:before {
        content: '';
        background-size: 65%;
      }
    }
    &--big {
      &:before {
        content: '';
        background-size: 65%;
      }
    }
    &__heading {
      width: 58%;
    }
    &__preload {
      padding-top: 15%;
    }

  }
}
@media (max-width: 768px) {
.block-blog-list {
  .container {
    padding: 0;
  }
  &__heading {
    margin-bottom: 15px;
  }
}
  .blog-item {
    margin-bottom: 80px;
    &:before {
      display: none;
    }
    &__heading {
      font-weight: 500;
      line-height: 20px;
      color: $text-color;
      width: 60%;
      text-align: center;
      margin: 0 auto 25px;
    }
    &__preload {
      display: none;
    }
    &__link {
      max-height: 429px;
      width: 100%;
      overflow: hidden;
    }
    &--around {
      .blog-item {
        &__link {
          max-height: 429px;
          width: 100%;
        }
        &__heading {
          text-align: center;
        }
      }

    }
  }

}
@media (max-width: 576px) {
  .block-blog-list {
    &__heading {
      margin-bottom: 10px;
    }

  }
  .blog-item {
    margin-bottom: 55px;
    &__link {
      margin-top: 25px;
    }
    &--big {
      .blog-item {
        &__heading {
          margin-bottom: 25px;
        }
        }
      }

  }
}