$black: #000000;
$gray: #545454;
$dark-gray: #333333;
$gray-bg: #343434;
$text-color: #353535;
$white: #FFF;
$pink: #e0aba5;


$mainFont: 'black_jackregular', sans-serif;

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;





